GROQ_API_KEY=GROQ KEY
LLM_MODEL=llama-3.1-70b-versatile
EMBEDDING_MODEL=BAAI/bge-small-en-v1.5
CHROMA_DB_PATH=./chromadb
SQLITE_DB_PATH=./database/autosar_ai.db
UPLOAD_FOLDER=./uploads
REPORT_FOLDER=./reports
MAX_UPLOAD_SIZE_MB=50
OCR_ENABLED=true
STREAMING_RESPONSE=true
TOP_K_RETRIEVAL=5
TEMPERATURE=0.1
